<h2>Your Goals</h2>
<br />

<a href="/">&lt;&nbsp;Home</a>
<br />

<a href="/login">Login</a>
<br />

<a href="#" (click)="signOut($event)">Sign out</a>
<br />
<br />

<div style="border: 1px solid black; padding: 10px">
  <div>{{ isEditing? 'Edit goal': 'Create new goal' }}</div>

  <input [(ngModel)]="newGoal.title" placeholder="Title" />&nbsp;
  <input [(ngModel)]="newGoal.description" placeholder="Description" />&nbsp;
  <input [(ngModel)]="newGoal.Deadline" type="date" />&nbsp;

  <button (click)="createGoal()" *ngIf="!isEditing">Create</button>&nbsp;
  <button (click)="updateGoal()" *ngIf="isEditing">Save</button>&nbsp;

  <button onclick="window.location.reload()">Cancel</button>
</div>
<br />
<br />

<div *ngIf="isLoading">Loading...</div>
<div *ngFor="let goal of goals">
  <div class="container" [style.marginLeft.px]="(goal.level ?? 0) * 20">
    <div class="item" id="{{ goal.level + '-' + goal.id }}" draggable="true"
         (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDropNest($event)">
      <div>
        <b>{{ goal.title }}</b><br />
        <span>Description: {{ goal.description }}</span><br />
        <span>Deadline: {{ goal.deadline }}</span>
      </div>

      <div>
        <a href="#" id="{{ 'e-' + goal.id }}" (click)="editGoalClicked($event)">Edit</a>
        &nbsp;
        <a href="#" id="{{ 'p-' + goal.id }}" (click)="setPublic($event)">Set public</a>
        &nbsp;
        <a href="#" id="{{ 'd-' + goal.id }}" (click)="deleteGoal($event)">Delete</a>
      </div>
    </div>

    <div class="separator" id="{{ 's-' + goal.id }}"
         (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDropOrder($event)">&nbsp;</div>
  </div>
</div>

